
<div class='profile'>
    <div class="back">
        <a href="/src/pages/chat/">
            <button class="icon arrow-right"></button>
        </a>
    </div>
    <div class='container'>
        <div>
            {{#if displayAvatar}}<img class='display-avatar' src='{{displayAvatar}}'/>{{/if}}
            {{#if displayName}}<h1 class='display-name'>{{displayName}}</h1>{{/if}}
            {{> @partial-block}}
        </div>
    </div>
</div>
