
<div class='profile'>
    <div class="back">
        <a href="/src/pages/chat/">
            <button class="icon arrow-right"></button>
        </a>
    </div>
    <div class='container'>
        <div>
            <img class='display-avatar' src='{{displayAvatar}}'/>
            <h1 class='display-name'>{{displayName}}</h1>
            {{> @partial-block}}
        </div>
    </div>
</div>