<div class='feed'>
  <nav class='nav'>
    <img class='avatar' src='/src/images/avatar.png' />
    <span class='сhat-name'>Вадим</span>
    <button class='icon actions' />
  </nav>
  <div class='history'>
    <div class='date'>19 июня</div>
    <div class='message incoming'>
      <span class='text'>{{{this.message}}}</span>
      <span class='time'>11:56</span>
    </div>
    <div class='message incoming image'>
      <img src='/src/images/camera.png' />
      <span class='time'>11:56</span>
    </div>
    <div class='message outgoing'>
      <span class='text'>Круто!</span>
      <i class='icon read'></i>
      <span class='time'>12:00</span>
    </div>
    <div class='date'>19 июня</div>
    <div class='message incoming'>
      <span class='text'>{{{this.message}}}</span>
      <span class='time'>11:56</span>
    </div>
    <div class='message incoming image'>
      <img src='/src/images/camera.png' />
      <span class='time'>11:56</span>
    </div>
    <div class='message outgoing'>
      <span class='text'>Круто!</span>
      <i class='icon read'></i>
      <span class='time'>12:00</span>
    </div>
    <div class='date'>19 июня</div>
    <div class='message incoming'>
      <span class='text'>{{{this.message}}}</span>
      <span class='time'>11:56</span>
    </div>
    <div class='message incoming image'>
      <img src='/src/images/camera.png' />
      <span class='time'>11:56</span>
    </div>
    <div class='message outgoing'>
      <span class='text'>Круто!</span>
      <i class='icon read'></i>
      <span class='time'>12:00</span>
    </div>
  </div>
  <div class='compose'>
    <button class='icon attach'></button>
    <input class='input' placeholder='Сообщение' />
    <button class='icon arrow-right'></button>
  </div>
</div>
