.suggest {
  background-color: white;
  width: 100%;
  padding: 1rem 0;

  &.empty {
    display: none;
  }

  & .item {
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .3rem;

    &:hover {
      background-color: var(--bkg-gray);
    }

    &+& {
      margin-top: .2rem;
    }

    & * {
      pointer-events: none;
    }

    & .avatar {
      width: 2.1rem;
      height: 2.1rem;
      border-radius: 2.1rem;
      margin-right: 1rem;
      float: left;
    }

    & .display-name {
      color: var(--font-color);
      font-variation-settings: 'wght' 590;
      font-size: 0.8125rem;
      line-height: 1em;
      display: block;
      padding-top: .1rem;
      padding-bottom: .1rem;
    }

    & .login {
      font-size: 0.75rem;
      line-height: 1.25em;
      color: var(--font-muted);
    }
  }
}
