.view-chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0.628rem 1.256rem 0;

  & .feed,
  & .create-chat,
  & .remove-user {
    display: none;
  }

  &.feed .feed,
  &.createSingle .create-chat,
  &.createMultiple .create-chat,
  &.addUser .create-chat,
  &.removeUser .remove-user {
    display: flex;
  }
}
